{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div id='main-wrapper'>
   <div class='main section' id='main'>
   <h1>Over ons</h1>

   <div>
   		{% autoescape off %} {{ info.about }} {% endautoescape %}
	</div>
<style>

.flex {
	display: flex;
	margin-bottom: 50px;
}
.imagecol {
	width: 30%;
	display: inline-block;
}

.aboutimage {
	border-radius: 100%;
	display: block;
    margin: 0 0 2em 8px;
    width: 100%;
    box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.aboutlogo{
	border-radius: 100%;
	display: block;
    /*margin: 0 0 2em 0;*/
    width: 100%;	
}

.textcol {
	width: 67%;
	float: right;
	margin-left: 30px;
}

.morebutton {
	background-color: #000000;
    color: #fff !important;
    border-radius: 4px;
    display: inline-block;
    font-weight: 700;
    padding: 0 1.5em;
    height: 2.85em;
    line-height: 2.95em;
}

.morebutton hover {

}
</style>
	<div class="flex flex-2">
		<div class="imagecol">
			<div class="aboutimage">
				<a href="{{ info.url_sociii }}" target="_blank"><img class="aboutlogo" src="/{{ info.logo_sociii.url }}" alt="Sociii"></a>
			</div>
		</div>
		<div class="textcol">
			<h2>About Sociii </h2>
			{% autoescape off %} {{ info.about_sociii }} {% endautoescape %}
			<a href="{{ info.url_sociii }}" target="_blank" class="morebutton">Visit Sociii</a>
		</div>
	</div>

	<div class="flex flex-2">
		<div class="imagecol">
			<div class="aboutimage">
				<a href="{{ info.url_fairfrog }}" target="_blank"><img class="aboutlogo" src="/{{ info.logo_fairfrog.url }}" alt="Fairfrog"></a>
			</div>
		</div>
		<div class="textcol">
			<h2>About Fairfrog </h2>
			{% autoescape off %} {{ info.about_sociii }} {% endautoescape %}
			<a href="{{ info.url_fairfrog }}" target="_blank" class="morebutton">Visit Fairfrog</a>
		</div>
	</div>

	<div class="flex flex-2">
		<div class="imagecol">
			<div class="aboutimage">
				<a href="{{ info.url_projectcece }}" target="_blank"><img class="aboutlogo" src="/{{ info.logo_projectcece.url }}" alt="Project Cece"></a>
			</div>
		</div>
		<div class="textcol">
			<h2>About Project Cece </h2>
			{% autoescape off %} {{ info.about_projectcece }} {% endautoescape %}
			<a href="{{ info.url_projectcece }}" target="_blank" class="morebutton">Visit Project Cece</a>
		</div>
	</div>

   </div>
</div>
{% endblock %}

	<div>
		<div>
			<img src="{% static 'img/Logos/Sociii.png' %}" width=200 style="float: left;"/>
				<h2> About Sociii </h2>
				<p>
					This is a text about Sociii. In his igitur partibus duabus nihil erat, quod Zeno commutare gestiret. Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus refers? Mihi, inquam, qui te id ipsum rogavi? Iam id ipsum absurdum, maximum malum neglegi. Quid iudicant sensus? Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Hoc etsi multimodis reprehendi potest, tamen accipio, quod dant.
				</p>
		</div>
		<br>

		<div>
			<div class='imagebox' style="min-width: 200px; min-height:200px; float: left; margin-right: 5px;">
				<img src="{% static 'img/Logos/Fairfrog.jpg' %}" width=200 style="float: left; "/>
			</div>
				<h2> About Fairfrog </h2>
				<p style="display: inline;">
					This is a text about Sociii. In his igitur partibus duabus nihil erat, quod Zeno commutare gestiret. Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus refers? Mihi, inquam, qui te id ipsum rogavi? Iam id ipsum absurdum, maximum malum neglegi. Quid iudicant sensus? Ille vero, si insipiens-quo certe, quoniam tyrannus.
				</p>
		</div>

		<br>
		<div>
			<div class='imagebox' style="min-width: 200px; min-height:200px; float: left; margin-right: 5px;">
				<img src="{% static 'img/Logos/ProjectCece.png' %}" width=200 style="float: left; margin-top: 35%;"/>
			</div>
				<h2> About Project Cece </h2>
				<p>
					This is a text about Sociii. In his igitur partibus duabus nihil erat, quod Zeno commutare gestiret. Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus refers? Mihi, inquam, qui te id ipsum rogavi? Iam id ipsum absurdum, maximum malum neglegi. Quid iudicant sensus? Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Hoc etsi multimodis reprehendi potest, tamen accipio, quod dant.
				</p>
		</div>
	</div>