{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} | Over Ons {% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}" />
<div id='main-wrapper'>
    <div class='main section' id='main'>
        <h1>Over ons</h1>

        <div class="text-justify">
            {% autoescape off %} {{ info.about }} {% endautoescape %}
        </div>

        <div class="flex flex-2">
            <div class="imagecol">
                <div class="aboutimage">
                    <a href="{{ info.url_sociii }}" target="_blank"><img class="aboutlogo" src="/{{ info.logo_sociii.url }}" alt="Sociii"></a>
                </div>
            </div>
            <div class="textcol text-justify">
                <h2>About Sociii </h2>
                {% autoescape off %} {{ info.about_sociii }} {% endautoescape %}
                <a href="{{ info.url_sociii }}" target="_blank" class="morebutton">Visit Sociii</a>
            </div>
        </div>

        <div class="flex flex-2">
            <div class="imagecol">
                <div class="aboutimage">
                    <a href="{{ info.url_fairfrog }}" target="_blank"><img class="aboutlogo" src="/{{ info.logo_fairfrog.url }}" alt="Fairfrog"></a>
                </div>
            </div>
            <div class="textcol text-justify">
                <h2>About Fairfrog </h2>
                {% autoescape off %} {{ info.about_fairfrog }} {% endautoescape %}
                <a href="{{ info.url_fairfrog }}" target="_blank" class="morebutton">Visit Fairfrog</a>
            </div>
        </div>

        <div class="flex flex-2">
            <div class="imagecol">
                <div class="aboutimage">
                    <a href="{{ info.url_projectcece }}" target="_blank"><img class="aboutlogo" src="/{{ info.logo_projectcece.url }}" alt="Project Cece"></a>
                </div>
            </div>
            <div class="textcol text-justify">
                <h2>About Project Cece </h2>
                {% autoescape off %} {{ info.about_projectcece }} {% endautoescape %}
                <a href="{{ info.url_projectcece }}" target="_blank" class="morebutton">Visit Project Cece</a>
            </div>
        </div>

        <div class="text-justify">
            {% autoescape off %} {{ info.about_below }} {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}
