{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}{{ block.super }} 
<link href="{% static 'css/forms.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %} FairBlogs - Contact {% endblock title %}

{% block content %}

<div id="main-wrapper" class="main-content" role="main" >
    <h1 class="text-center"> Contact </h1><br>

    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">
        <div>
            Are you interested in FairBlogs? We would love to hear from you!<br>
            <br>
            If you prefer to reach us via email: <a href="mailto:{{ contactinfo.contact_info }}">please feel free to write us an email</a>.
            We welcome any questions, feedback or suggestions.
        </div>
        <div class="col-xs-12">
            <form class="form-horizontal form-style-2" role="form" action="." method="post"> {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="form-style-2">
                    <label>Naam</label>
                    {{ form.name }}
                    <i>{{ form.name.errors }}</i>
                </div>

                <div class="form-style-2">
                    <label>Bericht</label>

                    {{ form.message }}
                    <i>{{ form.message.errors|escape }}</i>
                </div>

                <div class="form-style-2">
                    {{ form.sender.errors }}

                    <label>Email</label>
                    {{ form.sender }}
                </div>
                <br>
                <div class="checkbox">
                    {{ form.cc_myself.errors }}

                    {{ form.cc_myself }}
                    <label>Verstuur een kopietje naar jezelf</label>
                    <div class="form-group"><button type="submit" class="form-style-button btn btn-success center-block"> Verstuur </button>
                        
                        <!-- <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
