{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} API - Alumni - Thanks {% endblock title %}

{% block content %}

<div class="main-content" role="main" >
    <h1 class="text-center"> Contact </h1>

    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">
        <div>
            Your message has been sent. Thank you very much! <br>
            <br>
            We will get back to you as soon as possible, if necessary.
        </div>
    </div>
</div>

{% endblock %}
