{% extends "base.html" %}
{% load staticfiles %}

{% block title %} {{ block.super }} | Activatiemail Verstuurd {% endblock title %}

{% block content %}

<div class="main-content" role="main" >
    <h1 class="text-center"> Activation Mail Sent </h1>

    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">
        <div>
            Bedankt voor je aanmelding bij FairBlogs! <br>
            <br>
            We hebben je een email gestuurd met verdere instructies.
        </div>
    </div>
</div>

{% endblock %}
