{% extends "base.html" %}
{% load staticfiles %}

{% block title %} FairBlogs - Activation Sent {% endblock title %}

{% block content %}

<div class="main-content" role="main" >
    <h1 class="text-center"> Activation Mail Sent </h1>

    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">
        <div>
            Thank you for signing up at FairBlogs! <br>
            <br>
            An email with further instructions has been sent.
        </div>
    </div>
</div>

{% endblock %}

