{% extends "base.html" %}
{% load static %}

{% block title %} {{ block.super }} | Email Bevestigd {% endblock title %}

{% block content %}

<div class="main-content" role="main" >
    <h1 class="text-center"> Email Bevestigd </h1>

    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">
        <div>
            Je emailadres is bevestigd. <br>
            <br>
            We hebben automatisch een e-mail verstuurd naar het FairBlogs team om je account te activeren.
            Zodra de account actief is ontvang je vanzelf een email waarmee je de blogposts kunt uploaden.
        </div>
    </div>
</div>

{% endblock %}
