{% extends "base.html" %}
{% load staticfiles %}

{% block title %} FairBlogs - Email Validated {% endblock title %}

{% block content %}

<div class="main-content" role="main" >
    <h1 class="text-center"> Email Address Validated </h1>

    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">
        <div>
            Your email address has been validated. <br>
            <br>
            We have automatically notified site management to active your account. <br>
            Once your account is activated you will be notified via email.
        </div>
    </div>
</div>

{% endblock %}
