{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}{{ block.super }} {% endblock %}

{% block title %} FairBlogs Login {% endblock title %}

{% block content %}

<div class="main-content" role="main" >

    <h1 class="text-center"> FairBlogs Login </h1>

    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">
        {% if form.errors %}
        <div class="alert alert-danger">
            Invalid Username/Password. Please try again.
        </div>
        {% endif %}

        <form class="form-horizontal col-sm-12" role="form" action="" method="post"> {% csrf_token %}
            {% if form.errors %} 
            <div class="form-group has-error has-feedback">
            {% else %}
            <div class="form-group">
            {% endif %}
                <label for="id_username">Email Address:</label>
                <input class="form-control" type="text" name="username" required="" id="id_username">
                {% if form.errors %} 
                    <i class="glyphicon glyphicon-remove form-control-feedback"></i>
                {% endif %}
            </div>

            {% if form.errors %} 
            <div class="form-group has-error has-feedback">
            {% else %}
            <div class="form-group">
            {% endif %}
                <label for="id_password">Password:</label>
                <input class="form-control" type="password" name="password" required="" id="id_password">
                {% if form.errors %} 
                    <i class="glyphicon glyphicon-remove form-control-feedback"></i>
                {% endif %}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success center-block"> Log In </button>
            </div>

            <div class="text-center">
                {% url 'site_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                    <a href="{{ password_reset_url }}"> 
                        Forgotten your password or username? 
                    </a> 
                {% endif %}

            </div>
        </form>
    </form>

</div>
{% endblock %}
