{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}{{ block.super }} 
<link href="{% static 'css/forms.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %} {{ block.super }} | Wachtwoord Reset {% endblock title %}

{% block content %}
<div id="main-wrapper" class="main-content" role="main" >
    <h1 class="text-center"> FairBlogs Wachtwoord Reset </h1>
    {% if validlink %}
    <form method="post" class="form-style-2">{% csrf_token %}
        {% for field in form %} 
        <div class="form-style-2  {% if field.errors %} has-error {% endif %}">
            {{ field.label }} <div class="errorlist">{% for error in field.errors %} {{ error|escape }} {% endfor %}</div>
            {{ field }}
            {% if field.errors %}  <span class="fa fa-remove error-symbol"></span> {% endif %}
            {% if field.help_text %} <p class="helptext">{{ field.help_text|safe }}</p> {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="form-style-button"> Wijzigen </button>
    </form>

    {% else %}
    <p> Het registratietoken is ongeldig, mogelijk omdat de link verlopen of al gebruikt is.<br><br>
    <a href="{% url 'site_password_reset' %}"> Vraag een nieuwe resetlink aan </a>, of
    <a href="{% url 'pages:contact' %}"> neem contact met ons op </a>. </p>
    {% endif %}
</div>
{% endblock %}

