{% extends "base.html" %}
{% load static %}

{% block title %} FairBlogs - Password Change {% endblock title %}

{% block content %}
<div class="main-content" role="main">
    <h1 class="text-center"> FairBlogs Password Change </h1>
    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">

        <div>
            Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
        </div>

        <br>

        <div class="col-xs-12">
            <form class="form-horizontal" method="post">{% csrf_token %}
                {% if form.old_password.errors %}
                <div class="form-group has-error has-feedback">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label for="id_old_password">Old password:</label>
                    <input class="form-control" type="password" name="old_password" autofocus required id="id_old_password"/>
                    {% if form.old_password.errors %}
                    <i class="glyphicon glyphicon-remove form-control-feedback"></i>
                    <div class="alert alert-danger">
                        {% for error in form.old_password.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
    
                {% if form.new_password1.errors %}
                <div class="form-group has-error has-feedback">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label for="id_new_password1">New password:</label>
                    <input class="form-control"  type="password" name="new_password1" required id="id_new_password1"/>
                    {% if form.new_password1.errors %}
                    <i class="glyphicon glyphicon-remove form-control-feedback"></i>
                    <div class="alert alert-danger">
                        {% for error in form.new_password1.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if form.new_password1.help_text %}
                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                    {% endif %}
                </div>
    
                {% if form.new_password2.errors %}
                <div class="form-group has-error has-feedback">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label for="id_new_password2">New password confirmation:</label> 
                    <input class="form-control" type="password" name="new_password2" required id="id_new_password2"/>
                    {% if form.new_password2.errors %}
                    <i class="glyphicon glyphicon-remove form-control-feedback"></i>
                    <div class="alert alert-danger">
                        {% for error in form.new_password2.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <button type="submit" class="btn btn-success center-block">Change my password</button>
                </div>
    
            </form>
        </div>
    </div>
</div>

{% endblock %}
