{% load i18n %}{% autoescape off %}Dear {{ user.alumnus.full_name }},

{% trans "Your username is:" %} {{ user.get_username }} 

{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}


{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'site_password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Please use your username to sign in!" %}

{% blocktrans %}
Kind regards, 

The FairBlogs Team
{{ site_name }}
{{ contact_email }}
{% endblocktrans %}
{% endautoescape %}
