{% load i18n %}{% autoescape off %}Dear {{ full_name }},

You're receiving this email because we reset the password for your user account at {{ site_name }}.

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username is:" %} {{ user.get_username }}{% trans ". Please use your e-mail address to sign in!" %}

Kind regards, 
The FairBlogs Team

[this is a machine generated mail]{% endautoescape %}
