{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %} {{ block.super }} {% endblock %}

{% block title %} FairBlogs Password Reset {% endblock title %}

{% block content %}
<div class="main-content" role="main">

    <h1 class="text-center"> FairBlogs Password Reset </h1>

    <div id="contact-form-wrapper" class="text-justify col-xs-12 col-sm-8 col-sm-offset-2 ">

        <div class="col-xs-12">
            {% if validlink %}
            <form class="form-horizontal" method="post">{% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    {% for error in form.new_password2.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </div>
                <div class="form-group has-error has-feedback">
                    <label for="id_new_password1"> Password </label>
                    <input id="id_new_password1" name="new_password1" required="" type="password" class="form-control" aria-describedby="password1HelpBlock">
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <p id="password1HelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    </p>
                </div>
                <div class="form-group has-error has-feedback">
                    <label for="id_new_password2"> Confirm Password </label>
                    <input id="id_new_password2" name="new_password2" required="" type="password" class="form-control" aria-describedby="password2HelpBlock">
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <p id="password2HelpBlock" class="form-text text-muted"> Please enter your new password twice so we can verify you typed it in correctly. </p>
                </div>
                {% else %}
                <div class="form-group">
                    <label for="id_new_password1"> Password </label>
                    <input id="id_new_password1" name="new_password1" required="" type="password" class="form-control" aria-describedby="password1HelpBlock">
                    <p id="password1HelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    </p>
                </div>
                <div class="form-group">
                    <label for="id_new_password2"> Confirm Password </label>
                    <input id="id_new_password2" name="new_password2" required="" type="password" class="form-control" aria-describedby="password2HelpBlock">
                    <p id="password2HelpBlock" class="form-text text-muted"> Please enter your new password twice so we can verify you typed it in correctly. </p>
                </div>
                {% endif %}

                <div class="form-group">
                    <button type="submit" class="btn btn-success pull-right"> Next </button>
                    <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
                </div>
            </form>

            {% else %}
            The password reset link was invalid, possibly because it has already been used or it has expired. <br>
            <br> 
            Please request a new survey link by sending an email to 
            <a href="mailto:{{ contactinfo.contact_email }}">{{ contactinfo.contact_email }}</a>.
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

