{% extends "base.html" %}
{% load static %}

{% block stylesheets %} {{ block.super }} {% endblock %}

{% block title %} {{ block.super }} | Wachtwoord Reset Email Verzonden {% endblock title %}

{% block content %}
<div id="main-wrapper" class="main-content" role="main" >
    <h1 class="text-center"> FairBlogs Wachtwoord Reset > Email Verzonden! </h1>

    <p> We hebben instructies verstuurd naar het opgegeven email adres, mits er een account met dit emailadres bij ons bekend is. Je zou de mail spoedig moeten ontvangen. </p>

    <p> Als je de email niet ontvangen hebt, controleer dan of het juiste email adres ingevuld is, en kijk ook even in je spamfolder. Kan je de email ook daar niet vinden?
    <a href="{% url 'pages:contact' %}">Neem dan contact met ons op</a>, or email <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.
    </p>
</div>
{% endblock %}
