{% load i18n %}{% autoescape off %}Hoi {{ full_name }},

Je ontvangt deze email omdat een admin het wachtwoord van je account op {{ site_name }} zojuist gereset heeft.

Gebruik de onderstaande link om een nieuw wachtwoord aan te maken:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Je gebruikersnaam is: {{ user.get_username }}. Gebruik je emailadres om in te loggen.

Groene groetjes,
Het FairBlogs team

[Dit is een automatisch gegenereerde e-mail. Je hoeft deze e-mail niet te beantwoorden.]{% endautoescape %}
