{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}{{ block.super }} 
<link href="{% static 'css/forms.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div id='main-wrapper' class="main-content" role="main">
    <h1 class="text-center"> FairBlogs Wachtwoord veranderen </h1>
    <p>
        <br>
        Voer eerst je oude wachtwoord in voor de veiligheid. Daarna kun je je nieuwe wachtwoord invoeren.
    </p>


  <form method="post" class="form-style-2">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="form-style-button"> Update </button>
  </form>
    

    </div>
</div>

{% endblock %}
