{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}{{ block.super }} 
<link href="{% static 'css/forms.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div id="main-wrapper" class="main-content" role="main">
    {# TODO: @MarcellJP ff front-enden ;-) #}
    <div style="margin-bottom: 50px;">
        <h1 style="float: left;"> Profile </h1> <h1 style="float: right;"></h1>
    </div>


    {% if request.user.avatar %}
    <img style="margin-bottom: 50px;" src="/{{ request.user.avatar.url }}" width="200px"></img>
    {% endif %}

    <table class="form-text">
        <tr>
            <th class="first-col"> Gebruiker </td>
            <td> {{ request.user }} </td>
        </tr>
        <tr>
            <th class="first-col"> Blog </td>
            <td> {{ request.user.affilation }} </td>
        </tr>
        <tr>
            <th class="first-col"> Email </td>
            <td> {{ request.user.email }} </td>
        </tr>
        <tr>
            <th class="first-col"> Achternaam </td>
            <td> {{ request.user.last_name }} </td>
        </tr>
    </table> 

    <div class="icons-social">
        <ul id="social">
            {% if request.user.facebook %}<li><a class="facebook" href="{{ request.user.facebook }}" target="_blank" title="facebook"></a></li>{% endif %}
            {% if request.user.twitter %}<li><a class="twitter" href="{{ request.user.twitter }}" target="_blank" title="twitter"></a></li>{% endif %}
            {% if request.user.instagram %}<li><a class="instagram" href="{{ request.user.instagram }}" target="_blank" title="instagram"></a></li>{% endif %}
        </ul>
    </div>

    <div style="width: 100%; text-align: center; margin-top: 20px">
    <h3><a href="{% url 'update_account' %}"><i class="fa fa-edit"></i> Wijzig profiel</a></h3>
    </div>

</div>
{% endblock %}
