{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}{{ block.super }} 
<link href="{% static 'css/forms.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div id="main-wrapper" class="main-content" role="main">
  <h2>Aanmelden</h2><br>
  Maak een account aan om ook blogs toe te voegen aan FairBlogs. Na het aanmaken van een persoonlijk account kun je deze direct koppelen aan je blog.
  <form method="post" class="form-style-2">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="form-style-button">Aanmelden</button>
  </form>
 </div>
{% endblock %}
