appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.11
Django==1.11.3
django-admin-view-permission==1.0
django-ajax-selects==1.6.0
django-filebrowser-no-grappelli==3.7.2
django-tinymce4-lite==1.4.1
enum34==1.1.6
ipython==5.4.1
ipython-genutils==0.2.0
jedi==0.10.2
jsonfield==2.0.2
olefile==0.44
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.0
prompt-toolkit==1.0.14
ptyprocess==0.5.2
Pygments==2.2.0
pytz==2017.2
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
URLObject==2.4.3
wcwidth==0.1.7
