{% extends 'base.html' %}
{% load static %}

{% block stylesheets %} {{ block.super }}
<link href="{% static 'css/forms.css' %}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui-timepicker-addon.css' %}">
{% endblock stylesheets %}


{% block topscripts %} {{ block.super }}
<script type="text/javascript" src="{% static 'js/forms.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-timepicker-addon.js' %}"></script>
<script>
$( function() {
    $( "#id_date_created" ).datetimepicker({
        dateFormat: "dd-mm-yy",
        timeFormat: "HH:mm:ss"
        });
} );
</script>
{% endblock topscripts %}

{% block title %} {{ block.super }} | Wijzig Blogpost {% endblock title %}

{% block content %}
<div id="main-wrapper" class="main-content" role="main" >
    <h1 class="text-center"> Wijzig blogpost </h1><br>

    <p> Door het onderstaande formulier in te vullen, wijzig je de betreffende blogpost op FairBlogs.
    In de teaser kun je een tekst van <strong>minimaal 250</strong> en <strong>maximaal 750</strong> tekens.
    De post wordt automatisch toegevoegd aan de stream op onze homepagina met een linkje naar jouw eigen blog.  </p>

    <form method="post" class="form-style-2" role="form" action="{% url 'blogs:change_post' form.instance.slug %}" enctype="multipart/form-data"> {% csrf_token %}
        <table class="form-text">
          <tr>
            <th class="first-col">Auteur: </th>
            <th>{{ request.user.first_name }} {{ request.user.last_name }}</th>
          </tr>
          <tr>
            <th class="first-col">Blog: </th>
            <th>{{ request.user.affiliation }}</th>
          </tr>
        </table>

        {% for field in form %}
        {% if field.label != "Teaser" %}
        <div class="form-style-2  {% if field.errors %} has-error {% endif %}">
            {{ field.label }} {% if field.errors %} <div class="errorlist">{% for error in field.errors %} {{ error|escape }} {% endfor %}</div> {% endif %}
            {{ field }}
            {% if field.errors %}  <span class="fa fa-remove error-symbol"></span> {% endif %}
            {% if field.help_text %} <p class="helptext">{{ field.help_text|safe }}</p> {% endif %}
        </div>
        {% endif %}
        {% endfor %}

        <div class="form-style-2  {% if form.teaser.errors %} has-error {% endif %}" id="submit-text">
            {{ form.teaser.label }} {{ form.teaser }}
            {% if form.teaser.errors %}  <span class="fa fa-remove error-symbol"></span> {% endif %}
            <div class="errorlist">{% for error in form.teaser.errors %}<p>{{ error|escape }}</p> {% endfor %}</div>
            <div id="textarea_feedback">0/750 karakters</div>
        </div>

        <button type="submit" class="form-style-button"> Aanpassen </button>
    </form>
</div>
{% endblock %}

{% block bottomscripts %}
    {{ block.super }}
    {{ form.media }}
{% endblock bottomscripts %}
