{% extends "base.html" %}
{% load static %}
{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}
{% block title %} FairBlogs - Blogpost Toevoegen Geslaagd! {% endblock title %}

{% block content %}

<div id='main-wrapper'>
    <div class='main section' id='main'>

        <h1 style="margin-top: 20px; margin-bottom: 20px; text-align: center;"><a href="{% url 'blogs:change_post' post.slug %}" ><i class="fa fa-edit"></i> Post wijzigen (klik hier) </a></h1>

        {% include 'blog/detail_postonly.html' with blog=post %}
    </div>
</div>


{% endblock %}
