{% extends "base.html" %}
{% load static %}
{% block meta_description %}Blog by {{ post.author.affiliation }}: {{ post.title }}. {{ block.super }} {% endblock meta_description %} 
{% block meta_keywords %}{% for tag in post.tags.all %}{{ tag }} {% endfor %} {{ block.super }} {% endblock meta_keywords %} 
{% block meta_twitter_url %}{{ full_url }}{% endblock meta_twitter_url %} 
{% block meta_twitter_title %}{{ block.super}} | {{ post.title }}{% endblock meta_twitter_title %} 
{% block meta_twitter_description %}Blog by {{ post.author.affiliation }}: {{ post.title }}. {{ block.super }}{% endblock meta_twitter_description %} 
{% block meta_og_url %}{{ full_url }}{% endblock meta_og_url %} 
{% block meta_og_title %}{{ block.super}} | {{ post.title }}{% endblock meta_og_title %} 
{% block meta_og_description %}Blog by {{ post.author.affiliation }}: {{ post.title }}. {{ block.super }} {% endblock meta_og_description %} 
{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}
{% block title %} {{ block.super }} | {{ post.title }} {% endblock title %}

{% block content %}

<div id='main-wrapper'>
    <div class='main section' id='main'>

        <h1 style="margin-top: 20px; margin-bottom: 20px; text-align: center;"><a href="{% url 'blogs:change_post' post.slug %}" ><i class="fa fa-edit"></i> Post wijzigen (klik hier) </a></h1>

        {% include 'blog/detail_postonly.html' with blog=post %}
    </div>
</div>


{% endblock %}
