{% extends 'base.html' %}
{% load staticfiles %}
{% load template_extras %}

{% block title %} {{ block.super }} {% if current_tags %} | {% endif %} {% for tagname in current_tags %} {{ tagname }} {% if not forloop.last %} & {% endif %} {% endfor %} {% endblock title %}
{% block content %}

<div id='main-wrapper'>
   <div class='main section' id='main'>
   {% if current_tags %}
   <div style="height: 50px; vertical-align: middle;">
      <h2 style="float:left; line-height: 50px; margin-right: 10px;"> Blogs with tag:  </h2>
      {% for tagname in current_tags %}
         <span class='label-size label-size-4' style='font-size: 18px; float: none; margin-top: 1%;'>
            <a dir='ltr' href='{% remove_tag tagname %}'><i class="fa fa-times" aria-hidden="true"></i> {{ tagname }}</a>
         </span>
      {% endfor %}
   </div>
   {% endif %}
      <div class='widget Blog' data-version='1' id='Blog1'>
         <div class='blog-posts hfeed'>
            <div class="date-outer">
               <h2 class='date-header'><span>Sunday, 23 July 2017</span></h2>
               <div class="date-posts">

               {% for blog in blogs %}
                {% include 'blog/detail_postonly.html' %}
               {% endfor %}
               </div>
            </div>
         </div>

         <div class='blog-pager' id='blog-pager'>

            {% if blogs.has_previous %}
            <span id='blog-pager-newer-link'>
               <a class='blog-pager-newer-link' href='{% go_to_page blogs.previous_page_number %}' id='Blog1_blog-pager-newer-link' title='Newer Posts'><span class='pager-title'> Terug</span><span class='post-nav-icon'><i class='fa fa-chevron-left'></i></span></a>
            </span> 
            {% endif %}

            <span class="pagination-text">
                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
            </span>

            {% if blogs.has_next %}
            <span id='blog-pager-older-link'>
               <a class='blog-pager-older-link' href='{% go_to_page blogs.next_page_number %}' id='Blog1_blog-pager-older-link' title='Older Posts'><span class='pager-title'> Meer</span><span class='post-nav-icon'><i class='fa fa-chevron-right'></i></span></a>
            </span>
            {% endif %}

         </div>
         <div class='clear'></div>
         <div class='blog-feeds'></div>
         <script type='text/javascript'>
            window.___gcfg = { 'lang': 'en-GB' };
         </script>
      </div>
   </div>
</div>
{% endblock %}
