{% extends 'base.html' %}
{% load staticfiles %}
{% load template_extras %}
{% block content %}

<div id='main-wrapper'>
   <div class='main section' id='main'>
   {% if current_tags %}
   <div style="height: 50px; vertical-align: middle;">
      <h2 style="float:left; line-height: 50px; margin-right: 10px;"> Blogs with tag:  </h2>
      {% for tagname in current_tags %}
         <span class='label-size label-size-4' style='font-size: 18px; float: none; margin-top: 1%;'>
            <a dir='ltr' href='{% remove_tag tagname %}'><i class="fa fa-times" aria-hidden="true"></i> {{ tagname }}</a>
         </span>
      {% endfor %}
   </div>
   {% endif %}
      <div class='widget Blog' data-version='1' id='Blog1'>
         <div class='blog-posts hfeed'>
            <div class="date-outer">
               <h2 class='date-header'><span>Sunday, 23 July 2017</span></h2>
               <div class="date-posts">

               {% for blog in blogs %}
                  <div class='post-outer'>
                     <div class='post hentry'>
                        <div class='block-image'>
                           <div class='thumb'>
                              <a href='/viewpost/{{blog.slug}}/?next={{ blog.url }}' target='_blank' class="block-image-a" style='background:url(/{{ blog.image.url }}) no-repeat center center;background-size:cover'></a>
                           </div>

                           <div class='labels-post resumo'>
                              {% for tag in blog.tags.all %}   
                              <p class='post-tag'>                    
                                 <i class='fa fa-hashtag'></i>                        
                                 <a href='#' class='resumo' rel='tag' style="margin-right:5px;">{{ tag }}</a>
                              </p>
                              {% endfor %}
                           </div>
                        </div>
                        <div class='post-header'></div>
                        <article>
                           <font class='retitle'>
                              <h2 class='post-title entry-title'>
                                 <a href='/viewpost/{{blog.slug}}/?next={{ blog.url }}' target='_blank'>
                                 {{ blog.title }}
                                 </a>
                              </h2>
                           </font>
                           <div class='date-header'>
                              <div id='meta-post'>
                                 <i class='fa fa-user'></i>
                                 <a class='g-profile' href='{{ blog.author.affiliation.first.url }}' target='_blank' rel='author' title='{{ blog.author.affiliation.first }}'>
                                 <span itemprop='name'>{{ blog.author.affiliation }}</span></a>
                                 <i class='fa fa-calendar-o'></i>
                                 <abbr class='published timeago' title='{{ blog.date_created }}'>{{ blog.date_created }}</abbr>
                              </div>
                              <div class='resumo'><span>{% autoescape off %}{{ blog.teaser }}{% endautoescape %} 
                              
                              <a href='{{ blog.author.affiliation.first.url }}' class='blogthumb' target='_blank'><img src='{{ blog.author.affiliation.logo.url}}'/></a>
                              <a href='/viewpost/{{blog.slug}}/?next={{ blog.url }}' target='_blank' style="float: right;"><strong>Lees verder</strong></a> </span></div>
                              <div style='clear: both;'></div>
                           </div>
                        </article>
                     </div>
                  </div>

                  {% endfor %}
               </div>
            </div>
         </div>

         <div class='blog-pager' id='blog-pager'>

            {% if blogs.has_previous %}
            <span id='blog-pager-newer-link'>
               <a class='blog-pager-newer-link' href='{% go_to_page blogs.previous_page_number %}' id='Blog1_blog-pager-newer-link' title='Newer Posts'><span class='pager-title'> Terug</span><span class='post-nav-icon'><i class='fa fa-chevron-left'></i></span></a>
            </span> 
            {% endif %}

            <span class="pagination-text">
                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
            </span>

            {% if blogs.has_next %}
            <span id='blog-pager-older-link'>
               <a class='blog-pager-older-link' href='{% go_to_page blogs.next_page_number %}' id='Blog1_blog-pager-older-link' title='Older Posts'><span class='pager-title'> Meer</span><span class='post-nav-icon'><i class='fa fa-chevron-right'></i></span></a>
            </span>
            {% endif %}

         </div>
         <div class='clear'></div>
         <div class='blog-feeds'></div>
         <script type='text/javascript'>
            window.___gcfg = { 'lang': 'en-GB' };
         </script>
      </div>
   </div>
</div>
{% endblock %}