{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %} {{ block.super }}
<link href="/tinymce/css/" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'css/forms.css' %}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui-timepicker-addon.css' %}">
{% endblock stylesheets %}


{% block topscripts %} {{ block.super }}
<script>function djangoFileBrowser(field_name, url, type, win) { return false;}</script>

<script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-timepicker-addon.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forms.js' %}"></script>
<script>
$( function() {
    $( "#id_date_created" ).datetimepicker();
} );
</script>
{% endblock topscripts %}

{% block title %} FairBlogs - Submit Blogpost {% endblock title %}

{% block content %}
<div id="main-wrapper" class="main-content" role="main" >
    <h1 class="text-center"> Voeg blogpost toe </h1><br>
    <form method="post" class="form-style-2" role="form" action="." enctype="multipart/form-data"> 
        {% csrf_token %}
        {{ form.non_field_errors.help_text }}

        {% if form.errors %}
        <div class="alert alert-danger">
        Controleer de volgende velden: 
        {% for error in form.errors %}
            {{ error|escape }}
        {% endfor %}
        </div>
        {% endif %} 

        <table class="form-text">
          <tr>
            <th class="first-col">Auteur: </th>
            <th>{{ request.user.first_name }} {{ request.user.last_name }}</th>
          </tr>
          <tr>
            <th class="first-col">Blog: </th>
            <th>{{ request.user.affiliation }}</th>
          </tr>
        </table>

        <div class="fieldWrapper form-style-2">
        {{ form.title.label }} {{ form.title }}
        </div>

        <div class="fieldWrapper form-style-2">
        {{ form.url.label }} {{ form.url }}
        </div>

        <div class="fieldWrapper form-style-2">
        {{ form.date_created.label }} {{ form.date_created }}
        </div>

        <div class="fieldWrapper form-style-2">
        {{ form.tags.label }} {{ form.tags }}
        </div>

        <div class="fieldWrapper form-style-2" id="submit-text">
        {{ form.teaser.label }} {{ form.teaser }}
        <div id="textarea_feedback">0/750 karakters</div>
        </div>

        <button type="submit" class="form-style-button">Toevoegen</button>
    </form>
</div>
{% endblock %}
