{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %} {{ block.super }}
<link href="/tinymce/css/" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'css/forms.css' %}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui-timepicker-addon.css' %}">
{% endblock stylesheets %}


{% block topscripts %} {{ block.super }}
<script>function djangoFileBrowser(field_name, url, type, win) { return false;}</script>
<script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-timepicker-addon.js' %}"></script>
<script>
$( function() {
    $( "#id_date_created" ).datetimepicker();
} );
</script>
{% endblock topscripts %}

{% block title %} FairBlogs - Submit Blogpost {% endblock title %}

{% block content %}
<div id="main-wrapper" class="main-content" role="main" >
    <h1 class="text-center"> Voeg blogpost toe </h1><br>
    <form class="form-horizontal" role="form" action="." method="post" enctype="multipart/form-data"> {% csrf_token %}
        <table class="form-text">
          <tr>
            <th class="first-col">Auteur: </th>
            <th>{{ request.user.first_name }} {{ request.user.last_name }}</th>
          </tr>
          <tr>
            <th class="first-col">Blog: </th>
            <th>{{ request.user.affiliation }}</th>
          </tr>
        </table>
        {% for field in form %}
        <div class="fieldWrapper form-style-2">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" class="form-style-button" value="Toevoegen"/> 
    </form>
</div>
{% endblock %}
