{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %} {{ block.super }} {% endblock stylesheets %}

{% block title %}{{ block.super }} - Niet Gevonden {% endblock title %}

{% block content %}
<div id='main-wrapper' class="main-content" role="main">
    <h1 class="text-center">Deze pagina bestaat niet.</h1>

<p>
    De pagina die u probeert te bereiken bestaat niet. Dit kan gebeuren door een foute of verkeerd gespelde link. Via het menu op deze pagina of de zoekbar kunt u naar onze website navigeren.  
</p>

</div>
{% endblock content %}
