{% load staticfiles %}
{% load template_extras %}

<div id='lower'>
   <div class='row' id='lower-wrapper'>
      <div id='lowerbar-wrapper'>
         <div class='lowerbar ready-widget section' id='lowerbar1'>
            <div class='widget HTML' data-version='1' id='HTML5'>
               <h2 class='title'>Subscribe</h2>
               <div class='widget-content'>
                  <div class="widget-content">
                     <style>
                        #Templatesyard-sbox-v2 {
                        padding: 0;
                        padding-bottom: 5px;
                        font-family: inherit;
                        display: block;
                        margin: 0;
                        border-radius: 1px;
                        }
                        #Templatesyard-sbox-v2 p {
                        font-size: 15px;
                        color: #fff;
                        line-height: 27px;
                        padding: 5px 10px 5px;
                        text-align: center;
                        width: 80%;
                        margin: 5px auto 20px;
                        border-bottom: 2px solid #555;
                        border-radius: 20px;
                        }
                        #Templatesyard-sbox-v2 .rssform {
                        padding: 0;
                        margin: 0 auto;
                        display: block;
                        }
                        #Templatesyard-sbox-v2 .rssform input {
                        padding: 8px;
                        margin: 20px auto 15px;
                        font-size: 13px;
                        color: #000;
                        text-align: center;
                        display: block;
                        font-family: inherit;
                        font-weight: normal;
                        width: 90%;
                        height: 38px;
                        text-transform: uppercase;
                        outline: none !important;
                        border: 1px solid #565656;
                        border-radius: 1px;
                        background-color: #555;
                        box-sizing: border-box !important;
                        }
                        #Templatesyard-sbox-v2 .rssform .button:hover {
                        opacity: 0.7;
                        -moz-opacity: 0.7;
                        -webkit-opacity: 0.7;
                        }
                        #Templatesyard-sbox-v2 .rssform .button {
                        background: #efa48d;
                        color: white!important;
                        margin-top: 15px;
                        outline: none !important;
                        transition: all .3s ease-in-out;
                        padding: 5px 2px !important;
                        float: none;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: normal;
                        cursor: pointer;
                        border:0;
                        }
                        #Templatesyard-sbox-v2 form {
                        margin-bottom: 10px !important;
                        }
                     </style>
                     <div id="Templatesyard-sbox-v2">
                        <p>Blijf op de hoogte van de laatste FairBlogs via onze nieuwsbrief!</p>
                        <div class="rssform">
                           <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=Templatesyard', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                              <input type="text" name="email" placeholder="Voer je email adres in" vk_14173="subscribed" vk_18405="subscribed" vk_1db0e="subscribed" />
                              <input type="hidden" value="Templatesyard" name="uri" />
                              <input type="hidden" name="loc" value="en_US" />
                              <input value="Aanmelden" class="button" type="submit" />
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <div class='clear'></div>
               <span class='widget-item-control'>
               <span class='item-control blog-admin'>
               <a class='quickedit' href='//www.blogger.com/rearrange?blogID=1732086749609322382&widgetType=HTML&widgetId=HTML5&action=editWidget&sectionId=lowerbar1' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML5"));' target='configHTML5' title='Edit'>
               <img alt='' height='18' src='https://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
               </a>
               </span>
               </span>
               <div class='clear'></div>
            </div>
         </div>
      </div>
      <div id='lowerbar-wrapper'>
         <div class='lowerbar ready-widget section' id='lowerbar2'>
            <div class='widget Label' data-version='1' id='Label2'>
               <h2>Labels</h2>
               <div class='widget-content list-label-widget-content'>
                  <ul>
                     <li>
                        <a dir='ltr' href='http://impreza-soratemplates.blogspot.nl/search/label/Beauty'>Beauty</a>
                        <span dir='ltr'>(6)</span>
                     </li>
                     <li>
                        <a dir='ltr' href='http://impreza-soratemplates.blogspot.nl/search/label/Culture'>Culture</a>
                        <span dir='ltr'>(9)</span>
                     </li>
                     <li>
                        <a dir='ltr' href='http://impreza-soratemplates.blogspot.nl/search/label/Fashion'>Fashion</a>
                        <span dir='ltr'>(3)</span>
                     </li>
                     <li>
                        <a dir='ltr' href='http://impreza-soratemplates.blogspot.nl/search/label/Sports'>Sports</a>
                        <span dir='ltr'>(4)</span>
                     </li>
                     <li>
                        <a dir='ltr' href='http://impreza-soratemplates.blogspot.nl/search/label/Travel'>Travel</a>
                        <span dir='ltr'>(4)</span>
                     </li>
                  </ul>
                  <div class='clear'></div>
                  <span class='widget-item-control'>
                  <span class='item-control blog-admin'>
                  <a class='quickedit' href='//www.blogger.com/rearrange?blogID=1732086749609322382&widgetType=Label&widgetId=Label2&action=editWidget&sectionId=lowerbar2' onclick='return _WidgetManager._PopupConfig(document.getElementById("Label2"));' target='configLabel2' title='Edit'>
                  <img alt='' height='18' src='https://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
                  </a>
                  </span>
                  </span>
                  <div class='clear'></div>
               </div>
            </div>
         </div>
      </div>
      <div id='lowerbar-wrapper'>
         <div class='lowerbar ready-widget section' id='lowerbar3'>
            <div class='widget HTML' data-version='1' id='HTML6'>
            <a class="twitter-timeline" data-height="295" data-theme="dark" href="https://twitter.com/BlogsFair">Tweets by BlogsFair</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!--                <h2 class='title'>Flickr</h2>
               <div class='widget-content'>
                  <div class="flickr_widget">
                     <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=12&display=latest&size=s&layout=x&source=user&user=92607015@N05"></script>
                  </div>
               </div>
               <div class='clear'></div>
               <span class='widget-item-control'>
               <span class='item-control blog-admin'>
               <a class='quickedit' href='//www.blogger.com/rearrange?blogID=1732086749609322382&widgetType=HTML&widgetId=HTML6&action=editWidget&sectionId=lowerbar3' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML6"));' target='configHTML6' title='Edit'>
               <img alt='' height='18' src='https://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
               </a>
               </span>
               </span>
               <div class='clear'></div> -->
            </div>
         </div>
      </div>
      <div style='clear: both;'></div>
   </div>
</div>
<div class='footer-bar-wrapper'>
   <div class='foot-bar-soc row'>
      <div class='top-bar-social section' id='header social widget' name='Footer Social Widget'>
         <div class='widget LinkList' data-version='1' id='LinkList230'>
            <div class='widget-content'>
               <ul id='social'>
                  <li><a class="facebook" href="https://www.facebook.com/Fair-Blogs-1921284708086757/" target="_blank" title="facebook"></a></li>
                  <li><a class="twitter" href="https://twitter.com/BlogsFair" target="_blank" title="twitter"></a></li>
                  <!-- <li><a class="gplus" href="#" title="gplus"></a></li> -->
                  <li><a class="linkedin" href="https://www.linkedin.com/company-beta/18128850/" target="_blank" title="linkedin"></a></li>
                  <li><a class="instagram" href="https://www.instagram.com/fairblogs/" title="instagram"></a></li>
                  <!-- <li><a class="pinterest" href="#" title="pinterest"></a></li> -->
               </ul>
            </div>
         </div>
      </div>
      <div class='jugas_footer_copyright'>
         Template adapted from <a href='http://www.soratemplates.com/' id='mycontent' title='Blogger Templates'></a>
      </div>
   </div>
</div>