{% load staticfiles %}
{% load template_extras %}

<div id='lower'>
   <div class='row' id='lower-wrapper'>
      <div id='lowerbar-wrapper'>
         <div class='lowerbar ready-widget section' id='lowerbar1'>
            <div class='widget HTML' data-version='1' id='HTML5'>
               <h2 class='title'>Subscribe</h2>
               <div class='widget-content'>
                  <div class="widget-content">
                     <style>
                        #Templatesyard-sbox-v2 {
                        padding: 0;
                        padding-bottom: 5px;
                        font-family: inherit;
                        display: block;
                        margin: 0;
                        border-radius: 1px;
                        }
                        #Templatesyard-sbox-v2 p {
                        font-size: 15px;
                        color: #fff;
                        line-height: 27px;
                        padding: 5px 10px 5px;
                        text-align: center;
                        width: 80%;
                        margin: 5px auto 20px;
                        border-bottom: 2px solid #555;
                        border-radius: 20px;
                        }
                        #Templatesyard-sbox-v2 .rssform {
                        padding: 0;
                        margin: 0 auto;
                        display: block;
                        }
                        #Templatesyard-sbox-v2 .rssform input {
                        padding: 8px;
                        margin: 20px auto 15px;
                        font-size: 13px;
                        color: #000;
                        text-align: center;
                        display: block;
                        font-family: inherit;
                        font-weight: normal;
                        width: 90%;
                        height: 38px;
                        text-transform: uppercase;
                        outline: none !important;
                        border: 1px solid #565656;
                        border-radius: 1px;
                        background-color: #555;
                        box-sizing: border-box !important;
                        }
                        #Templatesyard-sbox-v2 .rssform .button:hover {
                        opacity: 0.7;
                        -moz-opacity: 0.7;
                        -webkit-opacity: 0.7;
                        }
                        #Templatesyard-sbox-v2 .rssform .button {
                        background: #efa48d;
                        color: white!important;
                        margin-top: 15px;
                        outline: none !important;
                        transition: all .3s ease-in-out;
                        padding: 5px 2px !important;
                        float: none;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: normal;
                        cursor: pointer;
                        border:0;
                        }
                        #Templatesyard-sbox-v2 form {
                        margin-bottom: 10px !important;
                        }
                     </style>
                     <div id="Templatesyard-sbox-v2">
                        <p>Blijf op de hoogte van de laatste FairBlogs via onze nieuwsbrief!</p>
                        <div class="rssform">
                            <!-- Begin MailChimp Signup Form -->
                            <div id="mc_embed_signup">
                            <form action="//fairblogs.us16.list-manage.com/subscribe/post?u=0926f16a64484087d5e571af5&amp;id=8cd277cb6e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                            	
                            <div class="mc-field-group">
                            	<input type="email" value="" name="EMAIL" placeholder="Voer je email adres in" class="required email" id="mce-EMAIL">
                            </div>
                            	<div id="mce-responses" class="clear">
                            		<div class="response" id="mce-error-response" style="display:none"></div>
                            		<div class="response" id="mce-success-response" style="display:none"></div>
                            	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0926f16a64484087d5e571af5_8cd277cb6e" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Aanmelden" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                </div>
                            </form>
                            </div>
                            
                            <!--End mc_embed_signup-->
                        </div>
                     </div>
                  </div>
               </div>
               <div class='clear'></div>
               <span class='widget-item-control'>
               <span class='item-control blog-admin'>
               <a class='quickedit' href='//www.blogger.com/rearrange?blogID=1732086749609322382&widgetType=HTML&widgetId=HTML5&action=editWidget&sectionId=lowerbar1' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML5"));' target='configHTML5' title='Edit'>
               <img alt='' height='18' src='https://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
               </a>
               </span>
               </span>
               <div class='clear'></div>
            </div>
         </div>
      </div>
      <div id='lowerbar-wrapper'>
         <div class='lowerbar ready-widget section' id='lowerbar2'>
            <div class='widget Label' data-version='1' id='Label2'>
               <h2>Categorieën</h2>
               <div class='widget-content list-label-widget-content'>
                  <ul>
                  {% for tag in tags|slice:"5" %}
                     <li>
                        <a dir='ltr' href='/?tag={{tag}}'>{{ tag }}</a>
                        <span dir='ltr'>({{ tag.post_set.all|length }})</span>
                     </li>
                  {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div id='lowerbar-wrapper'>
         <div class='lowerbar ready-widget section' id='lowerbar3'>
            <div class='widget HTML' data-version='1' id='HTML6'>
            <a class="twitter-timeline" data-height="295" data-theme="dark" href="https://twitter.com/BlogsFair">Tweets by BlogsFair</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!--                <h2 class='title'>Flickr</h2>
               <div class='widget-content'>
                  <div class="flickr_widget">
                     <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=12&display=latest&size=s&layout=x&source=user&user=92607015@N05"></script>
                  </div>
               </div>
               <div class='clear'></div>
               <span class='widget-item-control'>
               <span class='item-control blog-admin'>
               <a class='quickedit' href='//www.blogger.com/rearrange?blogID=1732086749609322382&widgetType=HTML&widgetId=HTML6&action=editWidget&sectionId=lowerbar3' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML6"));' target='configHTML6' title='Edit'>
               <img alt='' height='18' src='https://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
               </a>
               </span>
               </span>
               <div class='clear'></div> -->
            </div>
         </div>
      </div>
      <div style='clear: both;'></div>
   </div>
</div>
<div class='footer-bar-wrapper'>
   <div class='foot-bar-soc row'>
      <div class='top-bar-social section' id='header social widget' name='Footer Social Widget'>
         <div class='widget LinkList' data-version='1' id='LinkList230'>
            <div class='widget-content'>
               <ul id='social'>
                  <li><a class="facebook" href="https://www.facebook.com/Fair-Blogs-1921284708086757/" target="_blank" title="facebook"></a></li>
                  <li><a class="twitter" href="https://twitter.com/BlogsFair" target="_blank" title="twitter"></a></li>
                  <!-- <li><a class="gplus" href="#" title="gplus"></a></li> -->
                  <li><a class="linkedin" href="https://www.linkedin.com/company-beta/18128850/" target="_blank" title="linkedin"></a></li>
                  <li><a class="instagram" href="https://www.instagram.com/fairblogs/" title="instagram"></a></li>
                  <!-- <li><a class="pinterest" href="#" title="pinterest"></a></li> -->
               </ul>
            </div>
         </div>
      </div>
      <div class='jugas_footer_copyright'>
         Template adapted from <a href='http://www.soratemplates.com/' id='mycontent' title='Blogger Templates'></a>
      </div>
   </div>
</div>
