{% load static %}
{% load template_extras %}

<div id='sidebar-wrapper'>
   <div class='sidebar section' id='sidebar'>
      <div class='widget HTML' data-version='1' id='HTML1'>
         <h2 class='title'>Fairblogs</h2>
         <div class='widget-content'>
            <div class="about-widget-wrap">
               <div class="about-widget-image">
                  <center><img src="{% static 'img/Fair.png' %}" alt="Fairblogs" class="roundlogo fairblog-logo" /></center>
               </div>
               <div style="text-align: justify">Welkom op FairBlogs, het verzamelplatform voor eerlijke en duurzame blogs. Bij FairBlogs ontdek je gemakkelijk nieuwe blogs die je kunnen helpen en inspireren de wereld een stukje beter te maken.
               <a href="{% url "pages:about" %}" style="
                     text-decoration: underline;
                     ">Meer &#8594;</a>
               </div>
               <style>
                  .about-widget-image {
                  max-height: 260px
                  overflow:hidden;
                  margin-bottom: 15px;
                  }
               </style>
            </div>
         </div>
         <div class='clear'></div>
      </div>

      <div class='widget Label' data-version='1' id='Label1'>
         <h2>Categorieën</h2>
         <div class='widget-content cloud-label-widget-content'>
            {% for tag in tags %}
            <span class='label-size label-size-4'>
            <a dir='ltr' href='{% add_tag tag.tag_name %}'>{{ tag }}</a>
            </span>
            {% endfor %}
            <div class='clear'></div>
         </div>
      </div>


      <div class='widget HTML' data-version='1' id='HTML2'>
         <h2 class='title'>Socialize</h2>
         <div class='widget-content'>
            <div class="icons-social width-100">
               <ul id="social" class="center-social">
                  <li><a class="facebook" href="https://www.facebook.com/Fair-Blogs-1921284708086757/" target="_blank" title="facebook"></a></li>
                  <li><a class="twitter" href="https://twitter.com/BlogsFair" target="_blank" title="twitter"></a></li>
                  <!-- <li><a class="gplus" href="#" title="gplus"></a></li> -->
                  <li><a class="linkedin" href="https://www.linkedin.com/company-beta/18128850/" target="_blank" title="linkedin"></a></li>
                  <li><a class="instagram" href="https://www.instagram.com/fairblogs/" title="instagram"></a></li>
                  <!-- <li><a class="pinterest" href="#" title="pinterest"></a></li> -->
               </ul>
            </div>
         </div>
         <div class='clear'></div>
      </div>
      <div class='widget HTML' data-version='1' id='HTML3'>
         <h2 class='title'>Like Us</h2>
         <div class='widget-content'>
            <center>
<!--                            <div class="fb-page" data-href="https://www.facebook.com/soratemplates/" data-width="360" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div> -->
<!--                            <div class="fb-page" data-href="https://www.facebook.com/Fair-Blogs-1921284708086757/" data-width="360" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div> -->
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FFair-Blogs-1921284708086757%2F&tabs&width=306&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="306" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </center>
         </div>
         <div class='clear'></div>
      </div>
<!--       <div class='widget HTML' data-version='1' id='HTML4'>
         <div class='widget-content'>
            <center><img src="http://3.bp.blogspot.com/-zAPzL35hJzw/V5EPb4EoWkI/AAAAAAAAAq0/HOKhYNI8WtwmyFo9xhjqBUUqHwlWcmEYACK4B/s1600/ads.png" alt="Sidebar Ads" /></center>
         </div>
         <div class='clear'></div>
      </div> -->
      <div class='widget PopularPosts' data-version='1' id='PopularPosts1'>
         <h2>Populaire Posts</h2>
         <div class='widget-content popular-posts'>
            <ul>
               {% for top_post in popular_posts %}
               <li>
                  <div class='item-thumbnail-only'>
                     <div class='item-thumbnail'>
                        {% if top_post.image %}
                        <a href='/viewpost/{{top_post.slug}}/?next={{ top_post.url }}' target='_blank'>
                        <img alt='{{ top_post.title }}' border='0' src='/{{ top_post.image.url }}'/>
                        </a>
                        {% else %}
                        <a href='/viewpost/{{top_post.slug}}/?next={{ top_post.url }}' target='_blank'>
                        <img alt='{{ top_post.title }}' border='0' src=''/>
                        </a>
                        {% endif %}
                     </div>
                     <div class='item-title'><a href='/viewpost/{{top_post.slug}}/?next={{ top_post.url }}''>{{ top_post.title }}</a></div>
                  </div>
                  <div style='clear: both;'></div>
               </li>
               {% endfor %}
            </ul>
            </span>
            <div class='clear'></div>
         </div>
      </div>
   </div>
</div>
