.search-shizzle {
    filter:none;
    margin-bottom: 20px;
}


.search-shizzle h2{
    border: 3px double #cccccc;
    color: #f1a18e;
    font-size: 16px;
    padding: 10px 0;
    margin: 0 0 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}

.search-shizzle ul{
    color: magenta;
    margin-left: 50px;
    list-style-type: square;
}
